/elpa/*
/elpa/
/transient/history.el
/auto-save-list/*
/auto-save-list/
/#init.el#
/url/*
/eshell/*
/themes/*
/jdee-2.4.1/*
/themes*
/themes/*
*~
/.session
*.elc
/url/cookies
/.mc-lists.el
/recentf
/.lsp*
/custom.el
/desktop/*